body,
html,
* {
    font-size:10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    flex-wrap:wrap;
    width: 100vw;
    justify-content: space-around;
    margin:auto;
    background-color: #FF577F;

}


.card{
    height: 50vh;
    width: 21%;
    background-color: #FF884B;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0rem;
    box-shadow:2px 2px 10px 2px rgb(44, 0, 42);
    transition: all 0.3s;

}

.card:hover{
    background-color: #fd9765;
    transform: scale(1.1);
}


.card-img{
    float: left;
    width:  75%;
    height: 75%;
    object-fit: cover;
    border-radius: 2px;
}

  
.card-title {
    font-family: FreeMono, monospace;
    font-size: 2.2rem;
    margin-top: 2rem;
    color: #FFF9B0;
    text-shadow: 1px 1px 3px rgb(44, 0, 42);
}

.card-price{
    font-size:1.2rem;
    color: #FFF9B0;
    font-family: FreeMono, monospace;
    text-shadow: 1px 1px 3px rgb(44, 0, 42);

}

.title{
    font-family: FreeMono, monospace;
    font-size: 4.2rem;
    margin-top: 2rem;
    color: #FFF9B0;
    text-shadow: 1px 1px 3px rgb(44, 0, 42);
    background-color: #FF577F;
    margin:auto;
    align-items: center;

}

/*IDS FOR ANIMATIONS*/



@media screen and (max-width: 1200px) {
    .card {
    width: 30%;
}
    .cardanimated {
    width: 30%;
}
}
@media screen and (max-width: 1000px) {
    .card {
    width: 40%;
}
.cardanimated {
    width: 40%;
}
}

@media screen and (max-width: 700px) {
    .card {
    width: 100%;
    
}
    .cardanimated {
    width: 100%;
}
}

#pic1{
    transition: all 0.3s;
}

#pic1:hover{
    background-color: #fd6565;
}

#pic2{
    transition: all 0.3s;
}

#pic2:hover{
    transform: rotate(360deg);
}

#pic3{
    transition: all 0.3s;
}

#pic3:hover{
    transform: scale(0.75);
}

#pic4{
    transition: all 0.3s;
}

#pic4:hover{
    transform: translate(3000px, 20000px)
}

#pic5{
    transition: all 0.3s;
}

#pic5:hover{
    background-color:#fd656500;
    text-shadow: 0px 0px 0px #fd656500;
}


@keyframes animation {
    0%   {background-color:rgb(255, 0, 0);}
    50% {background-color: rgb(153, 0, 255);}
    100%   {background-color:rgb(255, 0, 0);}
  }

.cardanimated{
    animation:animation 5s infinite;
    height: 50vh;
    width: 21%;
    background-color: #FF884B;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem 0rem;
    box-shadow:2px 2px 10px 2px rgb(44, 0, 42);
    transition: all 0.3s;
}

.cardanimated:hover{
    background-color: #fd9765;
    transform: scale(1.1);
}
